# Environment & Large Data
.venv/
data/
models/

# Tooling & Metadata
__pycache__/
*.pyc
.DS_Store
.ipynb_checkpoints/

# Ignore all text files
*.txt
*.docx
*.pdf
*.log

# Ignore all markdown except README
*.md
!README.md

